:root {
	--colourA: #344823;
	--colourB: #40376e;
	--colourC: #b59701b8;
	--colourD: #96acb7;
	--white: #ffffff;
	accent-color: var(--colourC);
}

.App {
	text-align: center;
	font-family: "Nunito", sans-serif;
	color: var(--colourB);
	background-color: var(--colourA);
}

.app__title {
	margin: 0;
	padding: 0;
}
.header {
	margin-top: 80px;
	grid-area: "header";
	text-decoration: none;
	color: var(--white);
	font-size: 2rem;
	font-weight: 500;
}

.header a {
	text-decoration: none;
	color: var(--white);
}

.nav-bar {
	border-radius: 10px;
	position: sticky;
	top: 20px;
	display: grid;
	grid-template-rows: 10vh 10vh;
	grid-template-columns: 50vw 50vw;
	margin: 10vw;
	margin-bottom: 5vw;
	margin-top: 5vw;
	padding: 5px;
	row-gap: 10px;
	align-content: stretch;
	justify-content: space-evenly;
	justify-items: stretch;
}
.user-welcome {
	grid-area: 1 / 1 / 2 / 3;
}
.user-welcome h2 {
	border: none;
	font-family: inherit;
	background-color: var(--colourC);
	color: white;
	padding: 10px;
	font-size: 1.5rem;
	border-radius: 10px;
}
#topics {
	grid-area: 2 / 2 / 3 / 3;
}

#menu {
	grid-area: 2 / 1 / 3 / 2;
}

/* .dropdown{
	
} */
/* Dropdown Button */
.dropbtn {
	border: none;
	font-family: inherit;
	background-color: var(--colourC);
	color: white;
	padding: 10px;
	font-size: 1.5rem;
	border-radius: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	font-family: inherit;
	position: relative;
	color: white;
	font-size: 1rem;
	border: none;
	border-radius: 10px;
	display: none;
	background-color: var(--colourB);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	background-color: var(--colourB);
	color: var(--white);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-radius: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: var(--colourC);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: var(--colourC);
}

.article-list {
	grid-area: "main";
	border: solid 1px var(--colourB);
	padding: 1rem;
	margin: 1%;
	list-style: none;
	display: flex;
	direction: row;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 2rem;
}

.comment-list {
	grid-area: "main";
	border: solid 1px var(--colourB);
	padding: 1rem;
	margin: 1%;
	margin-top: 80px;
	list-style: none;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 2rem;
}

.card {
	text-decoration: none;
	background-color: var(--white);
	color: var(--colourB);
	border-radius: 5%;
	box-shadow: 0px 0px 25px 1px var(--colourC);
	padding: 1rem;
	min-width: 300px;
	flex: 25%;
}

.comment-card {
	border-radius: 10px;
	background-color: var(--white);
	margin: 2vw;
	padding: 5vw;
	text-align: justify;
	text-decoration: none;
	box-shadow: 0px 0px 25px 1px var(--colourC);
	min-width: 300px;
}

.card a {
	text-decoration: none;
	color: var(--colourB);
}

.card__subheading {
	padding: 0 5%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.card__additional-info-box {
	padding: 0 5%;
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 1rem;
}
.card__additional-info {
	width: fit-content;
	color: var(--colourD);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	align-content: center;
	flex-direction: row;
}

.article {
	border-radius: 10px;
	background-color: var(--white);
	margin: 5vw;
	padding: 5vw;
	text-align: justify;
}

.article a {
	text-decoration: none;
	color: var(--colourB);
}

.article__subheading {
	padding: 0 5%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.article__additional-info-box {
	padding: 0 5%;
	margin-top: 10px;
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 1rem;
}

.article__additional-info {
	width: 100%;
	color: var(--colourB);
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	align-content: center;
}

button.vote {
	border: none;
	background-color: var(--white);
	display: inline;
	color: var(--colourD);
}

button.vote:hover {
	border: none;
	background-color: var(--white);
	display: inline;
	color: var(--colourC);
}

.vote:disabled {
	border: none;
	display: inline;
	color: var(--colour);
}

.new-comment__form {
	font-family: inherit;
	border-radius: 10px;
	background-color: var(--white);
	margin: 5vw;
	padding: 5vw;
	gap: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
}

#comment-body {
	width: 75vw;
	font-family: inherit;
	font-size: 1rem;
}

#submit-btn {
	border: none;
	font-family: inherit;
	background-color: var(--colourC);
	color: white;
	padding: 5px;
	font-size: 1.5rem;
	border-radius: 10px;
	max-width: fit-content;
}
