:root {
	--black: #000000;
	--blue: #14213e;
	--yellow: #fda312;
	--grey: #e6e6e6;
	--white: #ffffff;
	accent-color: var(--yellow);
}

.App {
	display: grid;
	grid-template-rows: 
	'nav'
	'header'
	'main';
	text-align: center;
	font-family: "Nunito", sans-serif;
	color: var(--blue);
}

.app__title {
	margin: 0;
	padding: 0;
}
.header {
	grid-area: 'header';
	border: solid 2px #fda312;
	text-decoration: none;
	color: var(--blue);
	font-size: 2rem;
	font-weight: 500;
}

.header a {
	text-decoration: none;
	color: var(--blue);
	/* border: solid 2px #fda312; */
}

.nav-bar {
	margin: 5px;
	padding: 5px;
	border: solid 2px var(--blue);
}

/* Dropdown Button */
.dropbtn {
	font-family: inherit;
	min-width:;
	background-color: var(--yellow);
	color: white;
	padding: 10px;
	font-size: 1rem;
	border: solid 2px black;
	border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	font-family: inherit;
	position: relative;
	color: white;
	font-size: 1rem;
	border: none;
	border-radius: 10px;
	display: none;
	background-color: var(--blue);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	background-color: var(--blue);
	color: var(--white);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-radius: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: var(--yellow);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: var(--yellow);
}

.article-list {
	grid-area: 'main';
	border: solid 1px var(--blue);
	padding: 1rem;
	margin: 1%;
	margin-top: 80px;
	list-style: none;
	display: flex;
	direction: row;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 2rem;
}

.card {
	text-decoration: none;
	background-color: var(--grey);
	color: var(--blue);
	border-radius: 5%;
	box-shadow: 0px 0px 25px 1px var(--yellow);
	padding: 1rem;
	min-width: 300px;
	flex: 25%;
}

.card a {
	text-decoration: none;
	color: var(--blue);
}

.card__subheading {
	padding: 0 5%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.card__additional-info-box {
	padding: 0 5%;
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 1rem;
}
.card__additional-info {
	width: fit-content;
	color: var(--grey-colour);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	align-content: center;
	flex-direction: row;
}

.article {
	margin: 20px;
	padding: 10vw;
}
