.App {
	text-align: center;
	font-family: "Nunito", sans-serif;
}

Link > h1{
	text-decoration: none;
}

.nav-bar {
	width: 100vw;
	margin: 5%;
	padding: 5%;
	display: block;
}

/* Dropdown Button */
.dropbtn {
	min-width: 160px;
	position: relative;
  background-color: rgb(196, 196, 255);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
	border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
	align-self: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	border-radius: 10px;
  display: none;
  position: absolute;
  background-color: rgb(196, 196, 255);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(196, 196, 255);}

.article-list {
	padding: 1rem;
	list-style: none;
	display: flex;
	direction: row;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 2rem;
}

.article-card {
	border-radius: 5%;
	box-shadow: 5px 10px 50px rgb(196, 196, 255);
	padding: 1rem;
	min-width: 300px;
  flex: 25%;
}
.article-card__title {
}
.article-card__subheading {
		padding: 0 5% ;
    color: rgb(128, 128, 128);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.article-card__additional-info-box {
	padding: 0 5%;
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 1rem;
}
.article-card__additional-info {
	width: fit-content;
	color: gray;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	align-content: center;
	flex-direction: row;
}
